<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if logged_in? %>
      <section class="post_form">
        <%= render 'layouts/post_form' %>
      </section>
      <h3>スレッドタイトル</h3>
      <ul class="posts">
        <% @posts.each do |post| %>
          <li>
            <%= link_to post.title, post %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h1>BBSへようこそ</h1>
      <%= link_to "新規登録", signup_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
