<% provide(:title, "Edit") %>
<h1>アカウント変更</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@user) do |f| %>
      <%= render 'layouts/error_messages', object: f.object %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "アカウント削除", @user, method: :delete,
                                  data: { confirm: "アカウントを削除してもよろしいですか？" }, class: "btn btn-danger" %>
  </div>
</div>
