<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>
      <%= @user.name %>
    </h1>
    <% if @user == current_user %>
    <%= link_to "アカウント変更", edit_user_path(current_user), class: "btn btn-primary" %>
    <% end %>

    <div>
      <h3>スレッドタイトル</h3>
      <% if @user.posts.any? %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= paginate @posts %>
      <% end %>
    </div>
  </div>
</div>
