<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="title"><%= link_to post.title, post %></span>
  <span class="timestamp">
    <%= post.created_at %>
  </span>
</li>
