<% provide(:title, @post.title) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="posts">
      <li>
        <span class="title"><%= @post.title %></span>
        <span class="user"><%= @post.user.name %></span>
        <span class="timestamp"><%= @post.created_at %></span>
        <span class="content"><%= @post.content %></span>
      </li>
    </ul>

    <% if current_user == @post.user %>
      <%= link_to "削除", @post, method: :delete,
                                           data: { confirm: "削除しますか?" }, class: "btn btn-danger" %>
    <% end %>

    <h3>レス一覧</h3>
    <% @comments.each do |c| %>
      <div class="comments">
        <li>
          <span class="user"><%= c.user.name %></span>
          <span class="timestamp">
            <%= c.created_at %>
          </span>
          <span class="content">
            <%= c.content %>
          </span>
        </li>
      </div>
    <% end %>

    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_field :content %>
      <br>
      <%= f.submit 'コメントする', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
