@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  background-image: url('background.jpg');
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 30px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-top: 9px;
  font-weight: bold;
}

nav ul {
  float: right;
  li {
    list-style: none;
    float: left;
    padding-right: 10px;
  }
}

.btn {
  width: 100%;
  margin-bottom: 10px;
}

/* forms */

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

/* posts */

.title {
  color: red;
  font-size: 20px;
  display: block;
}

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    margin-left: 10px;
    word-wrap: break-word;
  }

  .timestamp {
    margin-left: 40px;
  }
}

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .timestamp {
    margin-left: 40px;
  }
  .content {
    display: block;
    padding-left: 20px;
    word-wrap: break-word;
  }
}
