<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= link_to "BBS", root_path, id: "logo" %>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if logged_in? %>
              <li><%= link_to "アカウント", current_user %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "ログイン", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
