<%= form_for(@post) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "タイトル" %>
    <%= f.text_area :content, placeholder: "詳細" %>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
